<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-gradient">
    <!-- Container wrapper -->
    <div class="container-fluid">
 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="text-reset me-3" href="#">
            <i class="fas fa-truck-fast fa-beat fa-3x"></i>
          </a>
          <h4 style="margin-right: 20px;">FastCart</h4>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 200px;">
          <li class="nav-item">
            <form class="d-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search product"
                  aria-label="Search"
                  aria-describedby="search-addon"
                  style="width: 400px;"
                />
                <span class="input-group-text border-0" id="search-addon" style="border-radius: 50%;">
                  <i class="fas fa-search"></i>
                </span>
              </form>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <h6>Products</h6>
        <a class="text-reset me-3" href="#" style="margin-bottom: 5px;">
          <i class="fas fa-shapes fa-2x"></i>
        </a>
        <h6>Wishlist</h6>
        <a class="text-reset me-3" href="#">
            <i class="fas fa-light fa-heart fa-2x" style="margin-bottom: 10px;"></i>
        </a>
        <h6>Cart</h6>
        <a class="text-reset me-3" routerLink="/cart">
          <i class="fas fa-shopping-cart fa-2x"></i>
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar -->